body{
    font-family: Arial;
    background-color: white;

}
.resume{
    width: 600px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 6px;

}
h1{
    margin-bottom: 5px;

}
h2{
    margin-top: 20px;
    color: navy;
    border-bottom: 1px solid;
}
.name{
    text-align:center
}
.contact{
    text-align:center
}
